<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=
          "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
  <body>
  
    <div th:fragment="header">
      <a th:href="@{/}">
        <img th:src="@{/resources/images/spitter_logo_50.png}" border="0" /></a>
        <div sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" id="logout" method="POST">
	        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	      </form>
    	  <a href="#" onclick="document.getElementById('logout').submit();">Logout</a>
        </div>
    </div>

    <div>Content goes here</div>
  
    <div th:fragment="copy">Copyright &copy; Toyin Dipo</div>
  </body>
  
</html>